@model IEnumerable<TwitterLikeMVC.Models.UserFriends>

@{
    ViewData["Title"] = "Friends";
}

<h1>Friends</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Friend)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Friend)
        </td>
    </tr>
}
    </tbody>
</table>
